.btn {
  color: #fff;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 30px;
  -webkit-box-shadow: 0 5px 10px -4px #000;
  box-shadow: 0 5px 10px -4px #000;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  -webkit-box-shadow: 0 0 10px -4px #000;
  box-shadow: 0 0 10px -4px #000;
}
.btn-green {
  background-color: #3aa757;
}
.btn-red {
  background-color: #fc0d1b;
}
body {
  font-family: sans-serif;
}
.chat-page {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.chat-window {
  width: 70%;
  -webkit-box-shadow: 0 5px 30px -10px #000;
  box-shadow: 0 5px 30px -10px #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.chat-footer,
.chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px -5px #000;
  box-shadow: 0 0 20px -5px #000;
}
.chat-footer {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.chat-header {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.chat-header__author {
  font-weight: 700;
  font-size: 18px;
}
.chat-body {
  height: 400px;
  padding: 20px;
}
.messages {
  height: 400px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style-type: none;
}
.message {
  position: relative;
  background-color: #eceff1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  width: 80%;
  float: left;
}
.message__photo {
  width: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 10px 5px 0;
}
.message__author {
  font-weight: 700;
  position: absolute;
  top: 20px;
}
.message__text {
  word-wrap: break-word;
}
.message--mine {
  float: right;
  color: black;
  background-color: #4688f1;
}
.chat-footer textarea {
  width: 80%;
  padding: 10px;
  border: 0;
  -webkit-box-shadow: 0 0 10px -5px #000;
  box-shadow: 0 0 10px -5px #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: 0;
}
.login-form,
.signup-form {
  width: 360px;
  background: #f1f1f1;
  height: 480px;
  padding: 80px 40px;
  -webkit-box-shadow: 0 5px 30px -10px #000;
  box-shadow: 0 5px 30px -10px #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}
.focus + span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #3aa757;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.buttom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.login-header {
  text-align: center;
  position: relative;
}
.hidden {
  display: none;
}
.invalid {
  border-bottom: 2px solid red;
}
